<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>


table
{
    width: 80%;
    height: 300px;
    margin: auto;
    border: solid 1px black;
    border-collapse: collapse;
}
table ,thead ,th, tbody, tr, td
{
    border: solid 1px black;
}
    </style>
</head>
<body>
    <a href="/data">Click to enter the data page</a>
    <h1>Student details</h1>
    <div class="container">
       
            

    
        <table>
            <thead>
               <th>id</th>
                <th>student name</th>
                <th>course</th>
            </thead>
            <tbody>
          <% users.map(outputs=> { %> 
             
            
                    <tr>
                        <td><%= outputs._id %></td>
                        <td><%= outputs.name %></td>
                        <td> <%= outputs.course %></td>
                        <td><a class="del" data-id=<%=outputs._id %>>delete</a></td>
                    </tr>
                
                <%})%>
                   
              
            </tbody>
        </table>
   
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
        $(".del").click(function(){
     let id=$(this).attr("data-id")
     $.ajax({
         "url":`http://localhost:10000/api/users/${id}`,
         "method":"DELETE"
     }).done(function(response){
         location.reload();
     })
 })
     </script>

</body>
</html>